<?xml version="1.0" encoding="utf-8"?>
<unattend xmlns="urn:schemas-microsoft-com:unattend">
    <settings pass="specialize">
        <component name="Microsoft-Windows-SQMApi" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <CEIPEnabled>0</CEIPEnabled>
        </component>
        <component name="Microsoft-Windows-Disk-Failure-Diagnostic-Module" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <EnabledScenarioExecutionLevel>1</EnabledScenarioExecutionLevel>
        </component>
        <component name="Microsoft-Windows-ErrorReportingCore" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <DisableWER>1</DisableWER>
        </component>
        <component name="Microsoft-Windows-Security-SPP-UX" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <SkipAutoActivation>true</SkipAutoActivation>
        </component>
        <component name="Microsoft-Windows-EnhancedStorage-Adm" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <TCGSecurityActivationDisabled>1</TCGSecurityActivationDisabled>
        </component>
        <component name="Microsoft-Windows-SystemRestore-Main" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <DisableSR>0</DisableSR>
        </component>
        <component name="Microsoft-Windows-TerminalServices-LocalSessionManager" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <fDenyTSConnections>false</fDenyTSConnections>
        </component>
        <component name="Microsoft-Windows-TerminalServices-RemoteConnectionManager" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <LicensingMode>4</LicensingMode>
        </component>
        <component name="Microsoft-Windows-Wlansvc" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <CoexistenceSupport>1</CoexistenceSupport>
        </component>
        <component name="Microsoft-Windows-WiFiNetworkManager" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <DefaultAutoConnectOpenState>0</DefaultAutoConnectOpenState>
            <DefaultAutoConnectSharedState>0</DefaultAutoConnectSharedState>
            <WiFiSenseAllowed>0</WiFiSenseAllowed>
            <WiFiSharingFacebookInitial>0</WiFiSharingFacebookInitial>
            <WiFiSharingOutlookInitial>0</WiFiSharingOutlookInitial>
            <WiFiSharingSkypeInitial>0</WiFiSharingSkypeInitial>
        </component>
        <component name="Security-Malware-Windows-Defender" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <SignatureUpdateInterval>48</SignatureUpdateInterval>
        </component>
        <component name="Microsoft-Windows-Shell-Setup" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <DesktopOptimization>
                <GoToDesktopOnSignIn>true</GoToDesktopOnSignIn>
                <ShowWindowsStoreAppsOnTaskbar>false</ShowWindowsStoreAppsOnTaskbar>
            </DesktopOptimization>
            <ComputerName>{{ $computerName }}</ComputerName>
            <ConvertibleSlateModePromptPreference>0</ConvertibleSlateModePromptPreference>
        </component>
    </settings>
    <settings pass="oobeSystem">
        <component name="Microsoft-Windows-International-Core" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <InputLocale>{{ $ime }}</InputLocale>
            <SystemLocale>en-US</SystemLocale>
            <UILanguage>en-US</UILanguage>
            <UserLocale>en-US</UserLocale>
        </component>
        <component name="Microsoft-Windows-Shell-Setup" processorArchitecture="amd64" publicKeyToken="31bf3856ad364e35" language="neutral" versionScope="nonSxS" xmlns:wcm="http://schemas.microsoft.com/WMIConfig/2002/State" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
            <OOBE>
                <HideEULAPage>{{ $autoLicenseAcceptance }}</HideEULAPage>
                <HideOEMRegistrationScreen>true</HideOEMRegistrationScreen>
                <HideWirelessSetupInOOBE>true</HideWirelessSetupInOOBE>
                <HideOnlineAccountScreens>true</HideOnlineAccountScreens>
                <NetworkLocation>Work</NetworkLocation>
                <ProtectYourPC>3</ProtectYourPC>
                <UnattendEnableRetailDemo>false</UnattendEnableRetailDemo>
            </OOBE>
            <FirstLogonCommands>
                <SynchronousCommand wcm:action="add">
                    <CommandLine>C:\Windows\Setup\Scripts\FirstLogon.cmd</CommandLine>
                    <Description>Initial primary user logon task</Description>
                    <Order>1</Order>
                </SynchronousCommand>
            </FirstLogonCommands>
            <AutoLogon>
                <Password>
                    <Value>{{ $superuserPassword }}</Value>
                    <PlainText>true</PlainText>
                </Password>
                <Enabled>true</Enabled>
                <LogonCount>1</LogonCount>
                <Username>{{ $superuserName }}</Username>
            </AutoLogon>
            <UserAccounts>
                <AdministratorPassword>
                    <Value>{{ $superuserPassword }}</Value>
                    <PlainText>true</PlainText>
                </AdministratorPassword>
                <LocalAccounts>
                    <LocalAccount wcm:action="add">
                        <Password>
                            <Value>{{ $superuserPassword }}</Value>
                            <PlainText>true</PlainText>
                        </Password>
                        <Description>Registered primary user</Description>
                        <DisplayName>{{ $superuserFullName }}</DisplayName>
                        <Group>Administrators</Group>
                        <Name>{{ $superuserName }}</Name>
                    </LocalAccount>
                    <LocalAccount wcm:action="add">
                        <Password>
                            <Value>{{ $userPassword }}</Value>
                            <PlainText>true</PlainText>
                        </Password>
                        <Group>Users</Group>
                        <Name>{{ $userName }}</Name>
                        <DisplayName>{{ $userFullName }}</DisplayName>
                        <Description>Registered secondary user</Description>
                    </LocalAccount>
                    <LocalAccount wcm:action="add">
                        <Password>
                            <Value>{{ $friendPassword }}</Value>
                            <PlainText>true</PlainText>
                        </Password>
                        <DisplayName>Friend</DisplayName>
                        <Group>Guests</Group>
                        <Name>Friend</Name>
                        <Description>Guest user</Description>
                    </LocalAccount>
                </LocalAccounts>
            </UserAccounts>
            <RegisteredOrganization>{{ $organizationName }}</RegisteredOrganization>
            <RegisteredOwner>{{ $userFullName }}</RegisteredOwner>
            <SignInMode>1</SignInMode>
            <TimeZone>{{ $timezone }}</TimeZone>
            <ShowPowerButtonOnStartScreen>true</ShowPowerButtonOnStartScreen>
            <Themes>
                <UWPAppsUseLightTheme>true</UWPAppsUseLightTheme>
                <DesktopBackground>%windir%\Web\4K\Wallpaper\Windows\img0_3840x2160.jpg</DesktopBackground>
                <ThemeName>{{ $organizationName }} Theme</ThemeName>
                <DefaultThemesOff>false</DefaultThemesOff>
                <WindowColor>{{ $accentColor }}</WindowColor>
                <BrandIcon>C:\Windows\Web\oem-theme.png</BrandIcon>
            </Themes>
        </component>
    </settings>
    <cpi:offlineImage cpi:source="wim:c:/windowsbuilder/working/output/install.wim#Windows 10 Enterprise" xmlns:cpi="urn:schemas-microsoft-com:cpi" />
</unattend>
